<?xml version="1.0"?>
<model>
  <name>SpiRob Arm</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <license>Apache License, Version 2.0</license>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    A SpiRob Arm.
  </description>

</model>
